<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img style="max-width: 50%;" src="/img/logo1.jpg" alt="logo image" />
    </header>
    {{{body}}}
</body>
</html>